
@{
    ViewBag.Title = "ExploreCompanies";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css/style.css">
<!-- responsive-->
<link rel="stylesheet" href="css/responsive.css">
@*<link href="~/css/explore.css" rel="stylesheet" />*@
<!-- awesome fontfamily -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
<!-- start slider section -->
<script src="~/js/._main.js"></script>
@*<link href="~/vendor/animate.css/animate.min.css" />
<link href="~/vendor/bootstrap/css/bootstrap.min.css" />*@
<!-- bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- style css -->
<link rel="stylesheet" href="css/style.css">
<link href="~/css/style-starter.css" rel="stylesheet" />
<!-- responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- awesome fontfamily -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
<link href="~/css/style-starter.css" rel="stylesheet" />

<a href="~/fonts/fontawesome-webfont.eot"></a>
<a href="~/fonts/fontawesome-webfont.ttf"></a>
<a href="~/fonts/fontawesome-webfont.woff"></a>
<a href="~/fonts/fontawesome-webfont.woff2"></a>
<a href="~/fonts/FontAwesome.otf"></a>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script src="~/js/particles.min.js"></script>
<script src="~/js/script.js"></script>

<script src="~/js/._main.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
<script src="~/js/script.js"></script>
@* <a href="~/js/bootstrap.bundle.js.map"></a>*@
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
@* <a href="~/js/bootstrap.bundle.min.js.map"></a>*@
<script src="~/js/particles.min.js"></script>
<script src="~/js/popper.min.js"></script>
@*<a href="~/js/bootstrap.js.map"></a>*@
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/jquery-3.0.0.min.js"></script>
@*<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
@* <a href="~/js/bootstrap.min.js.map"></a>*@
<script src="~/js/custom.js"></script>
<script src="~/js/bootstrap.js"></script>
<!-- end slider section -->
<section id="home" class="banner">
    <div id="banner-bg-effect" class="banner-effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-sm-12 order-lg-first mt-lg-0 mt-4">
                <h1 class="mb-4 title">
                    <strong>Doing </strong>the right thing, <br>at the <strong>right time.</strong>
                </h1>
                <div class="mt-5">
                    @*<a class="btn btn-primary btn-style mr-2" href="About.html">Read More </a>
                        <a class="btn btn-outline btn-outline-style" href="Services.html">Our Services </a>*@
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 order-first text-lg-left text-center">
                <div>
                    <img src="~/images/SWU_Logo.png" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">Companies you can invest in </h4>
                <p class="text-center">
                    Start you Investment journey with us
                </p>
            </div>
        </div>
            
        <div class="blog-grids row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn" filter-app>
                <a href="#blog-single.html">
                    <figure><img src="~/images/comapnies.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="~/Home/Sysfonics">Sysfonics Solution</a> </h3>
                    <ul>
                        <a href="~/Home/Sysfonics" class="btn btn-primary btn-style mt-4">Invest Now</a>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="~/images/burger.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="~/Home/KingBurger">King's Burger</a> </h3>
                    <ul>
                        <a href="~/Home/KingBurger" class="btn btn-primary btn-style mt-4">Invest Now</a>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="~/images/doracabs.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="~/Home/Doracabs">Dora cabs</a> </h3>
                    <ul>
                        <a href="~/Home/Doracabs" class="btn btn-primary btn-style mt-4">Invest Now</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <div class="blog-grids row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="~/images/Big-Companies.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="~/Home/Hermosa">Hotel Hermosa </a> </h3>
                    <ul>
                        <a href="~/Home/Hermosa" class="btn btn-primary btn-style mt-4">Invest Now</a>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="~/images/best.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="~/Home/PizzaBest">Pizza Best</a> </h3>
                    <ul>
                        <a href="~/Home/PizzaBest" class="btn btn-primary btn-style mt-4">Invest Now</a>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="~/images/capscorpion.jpeg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="~/Home/Capscorpion">Capscorpion</a> </h3>
                    <ul>
                        <a href="~/Home/Capscorpion" class="btn btn-primary btn-style mt-4">Invest Now</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section id="blog">
        <div class="container">
            <div class="blog-grids row mt-5">
                <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                    <a href="#blog-single.html">
                        <figure><img src="~/images/los-pollos-hermanos-.jpg" class="img-fluid" alt=""></figure>
                    </a>
                    <div class="blog-info">
                        <h3><a href="#blog-single.html">Los Pollos Hermanos</a> </h3>
                        <ul>
                            <a href="contact.html" class="btn btn-primary btn-style mt-4">Invest Now</a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                    <a href="#blog-single.html">
                        <figure><img src="~/images/KFP.png" class="img-fluid" alt=""></figure>
                    </a>
                    <div class="blog-info">
                        <h3><a href="#blog-single.html">KFP</a> </h3>
                        <ul>
                            <a href="contact.html" class="btn btn-primary btn-style mt-4">Invest Now</a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                    <a href="#blog-single.html">
                        <figure><img src="~/images/BlueMath.jpg" class="img-fluid" alt=""></figure>
                    </a>
                    <div class="blog-info">
                        <h3><a href="#blog-single.html">Blue Math</a> </h3>
                        <ul>
                            <a href="contact.html" class="btn btn-primary btn-style mt-4">Invest Now</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

