
@{
    ViewBag.Title = "TNC";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- service page breadcrumns -->
<section class="inner-banner">
</section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Services</li>
    </ol>
</nav>
<section class="w3l-mobile-content-6 bg-white">
    <div class="mobile-info">
        <!-- /mobile-info-->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                    <h4 class="section-title">Read the below Terms and Conditions carefully</h4>
                </div>
            </div>
            <div class="row mobile-info-inn mx-lg-0 mt-md-5 mt-4">
                <div class="col-lg-6 image-left">
                    <img src="~/images/Terms-and-Conditions-.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 mobile-right mt-lg-0 mt-5">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right mt-2">
                                <span class="fa fa-chain"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Risk</a></h6>
                            <p>
                                Investing in start-ups is extremely risky. You should only invest an amount you can afford to lose completely without changing your lifestyle.
                            </p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right mt-2">
                                <span class="fa fa-money"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Limited Transfer</a></h6>
                            <p>
                                Investment in start-ups is highly illiquid as such companies are unlisted/private and cannot be sold easily on an exchange or similar secondary trading platform.
                            </p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right mt-2">
                                <span class="fa fa-minus-square-o"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Diversification</a></h6>
                            <p>
                                Start-up investing is highly speculative and every investment may result in a loss. By investing small amounts across multiple deals, you can reduce yours compared to a large investment in a single company.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mobile-right-grids">
                    <div class="col-2 mobile-right-icon">
                        <div class="mobile-icon text-right mt-2">
                            <span class="fa fa-cut"></span>
                        </div>
                    </div>
                    <div class="col-10 mobile-right-info">
                        <h6><a href="#url">Cancellation</a></h6>
                        <p>
                            You can cancel your investment up to 48 hours before the deal deadline. After that, your deal will be final, and you will not be able to get your money back.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mobile-right-grids">
                <div class="col-2 mobile-right-icon">
                    <div class="mobile-icon text-right mt-2">
                        <span class="fa fa-paragraph"></span>
                    </div>
                </div>
                <div class="col-10 mobile-right-info">
                    <h6><a href="#url">Research</a></h6>
                    <p>
                        Do your own research. Read the documents provided by each company. Get independent legal, accounting and financial advice. If you have any questions or need more information, reach out to us via support.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="w3l-features bg-light">
    <div class="call-w3">
        <div class="container">
            <div class="row main-cont-wthree-2">
                <div class="col-lg-6 feature-grid-left">
                    <h4 class="section-title-left">Read the below Terms and Conditions carefully</h4>
                   
                    <ul class="list mt-4">
                        <li><span class="fa fa-arrow-right"></span> Investing in start-ups is extremely risky. You should only invest an amount you can afford to lose completely without changing your lifestyle.</li><br />
                        <li><span class="fa fa-arrow-right"></span> Investment in start-ups is highly illiquid as such companies are unlisted/private and cannot be sold easily on an exchange or similar secondary trading platform.</li><br />
                        <li><span class="fa fa-arrow-right"></span> Start-up investing is highly speculative and every investment may result in a loss. By investing small amounts across multiple deals, you can reduce yours compared to a large investment in a single company.</li><br />
                        <li><span class="fa fa-arrow-right"></span>You can cancel your investment up to 48 hours before the deal deadline. After that, your deal will be final, and you will not be able to get your money back.</li><br />
                        <li><span class="fa fa-arrow-right"></span>Do your own research. Read the documents provided by each company. Get independent legal, accounting and financial advice. If you have any questions or need more information, reach out to us via support.</li><br />
                        
                    </ul>
                    <a href="contact.html" class="btn btn-primary btn-style mt-4">Invest Now</a>
                </div>
            </div>
        </div>
    </div>
</section>*@

